@import "tailwindcss";
/* ===== Font Definitions ===== */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* ===== Global Font + Tailwind Theme ===== */
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary: #eb2327;
  --color-secondary: #c41e21;
  --text-h1: 3rem; /* 48px */
  --text-h2: 2.25rem; /* 36px */
  --text-h3: 1.875rem; /* 30px */
  --text-h4: 1.5rem; /* 24px */
  --text-h5: 1.25rem; /* 20px */
  --text-h6: 1.125rem; /* 18px */
  --text-p: 1rem; /* 16px */
  --text-span: 0.875rem; /* 14px */
}

* {
  font-family: "Montserrat", sans-serif;
}
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;
}
button {
  cursor: pointer;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 600;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
span {
  font-weight: 400;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
  p {
    font-size: 0.875rem;
  }
  span {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: var(--text-h1);
  }
  h2 {
    font-size: var(--text-h2);
  }
  h3 {
    font-size: var(--text-h3);
  }
  h4 {
    font-size: var(--text-h4);
  }
  h5 {
    font-size: var(--text-h5);
  }
  h6 {
    font-size: var(--text-h6);
  }
  p {
    font-size: var(--text-p);
  }
  span {
    font-size: var(--text-span);
  }
}
